<div class="container-fluid h-100">
  <div id="store-tabs" class="row justify-content-center d-flex align-items-center">
    <div class="col-4 mt-2">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Seasons</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="store-content" class="row">
    <div class="col-12">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>